---
import '@fontsource/petit-formal-script';

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>ibsy</title>
	</head>
	<body>
		<div class="layout_container">
			<img src="./communion.svg" alt="">
			<h1>i'll be seeing you...</h1>
			<h3>coming soon</h3>
		</div>
	</body>
</html>


<style>
	:root {
		--dark: #1e1e1e;
		--pink: #8d6e7e;
		--light: #AEAEAE;

		--script: "Petit Formal Script", cursive; 
	}
	body {
		background-color: var(--dark);
		margin: auto;
		max-width: 70vw;
	}
	.layout_container {
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		max-width: 500px;
		margin: 0 auto;
	}

	svg {
		display: flex;
	}

	h1 {
		font-family: var(--script);
		text-align: center;
		color: var(--pink);
		font-size: max(1.5rem,(1.25rem + 3vw));
		margin: 0;

	}
	
	@media (max-width: 445px) {
		h1 {
			font-size: 1.45rem;
		}
	}

	@media (max-width: 325px) {
		h1 {
			font-size: 1.25rem;
		}
	}

	@media (max-width: 260px) {
		h1 {
			font-size: 1.1rem;
		}
	}
	h3 {
		font-family: var(--script);
		text-align: center;
		color: var(--light);
		font-size: calc(28px + (72 - 28) * ((500 - 400px) / (500 - 400)));
		margin: 0;
		margin-top: 4rem
	}

	img {
		aspect-ratio: 1/1;
		object-fit: contain;
		max-width: 100%;
		margin-bottom: 2rem;
	}
</style>