---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>ibsy</title>
	</head>
	<body>
		<div class="layout_container">

		</div>
	</body>
</html>


<style>
	:root {
		--dark: #1e1e1e;
		--pink: #8F548F;
		--light: #AEAEAE;
	}
	body {
		background-color: var(--dark);
		max-width: 80vw;
		margin: auto;
	}
	.layout_container {
		display: flex;
		justify-content: center;
		align-items: center;
	}
</style>